.rating {
    font-size: 24px; /* Tamaño de las estrellas */
    color: #ccc; /* Color de las estrellas vacías */
}

.star {
    display: inline-block;
}

.empty::before {
    content: '☆'; /* Carácter Unicode para estrella vacía */
}

.full::before {
    content: '★'; /* Carácter Unicode para estrella llena */
    color: gold; /* Color de las estrellas llenas */
}

.user-tittle {
    display: flex;
    align-items: center;
}

.user-profile {
    margin-right: 2%;
}

.conf-button {
    height: 2%;
}

.profile-content {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 1%;
}

.rating-content{
    display: flex;
    align-items: center;
    gap: 1%;
}

.container-afiche{
    width: 100%;
  }

.afiches {
display: flex;
justify-content: center;
gap: 1%;
flex-wrap: wrap;
align-content: stretch;


}

.afiches article {
width: 17rem;
height: 23rem;
cursor: pointer;
position: relative;
display: block;
transition: all 0.4s ease-in-out;
overflow: hidden;
border-radius: 1rem;
border: 1px solid lightgray;
margin-bottom: 1%;
}

.container-titulo{
display: flex;
align-items: center;
justify-content: center;
}

.afiches article a {
display: inline-flex;
color: var(--primary);
text-decoration: none;
}


.afiches article h2 {
margin: auto;
margin-top: 7px;
margin-bottom: 7px;
font-size: 1.6rem;
color: var(--secondary);
transition: color 0.3s ease-out;
}


.afiches article img {
max-width: 100%;
transform-origin: center;
transition: transform 0.4s ease-in-out;
overflow: hidden;
}

.article-preview {  
padding: 1.5rem;
background: white;
}

.afiches figure {
width: 100%;
align-items: center;
height: 13rem;
overflow: hidden;
}

.afiches figure img {
height: 100%;
aspect-ratio: 16 / 9;
overflow: hidden;
object-fit: cover;
}

.afiches article:hover img {
transform: scale(1.5); 
}
