{%extends 'base_navbar.html'%}
{%block stylesheets%}
    <link rel="stylesheet"  type="text/css" href="static/css/index.css">
{%endblock%}
{%block title%}
    Aprende Beauchef
{%endblock%}
{%block content%}

<p>En este sitio podrás encontrar clases de apoyo para tus ramos de Beauchef</p>

<div class="content">

    <div class="poster">
        {%for poster in afiches%}
        <article>
            <div class = "container-title">
                <h2>{{poster.nombre}}</h2>
            </div>
            <div class = "container-poster">
                <img src = "{{poster.url.url}}" alt="{{poster.nombre}}" >
            </div>    
        </article> 
        {%endfor%}

    </div>
    <form class="filtrador" method="post">
        {% csrf_token %}
        {{ filter_form.as_p }}
        <div class="filtrar_button">
            <button id="filtrar_button" type="submit">Aplicar filtros</button>
        </div>
    </form>
</div>

{%endblock%}