{%extends 'base.html'%}
{%block stylesheets%}
    <link rel="stylesheet"  type="text/css" href="static/css/index.css">
{%endblock%}
{%block title%}
    Aprende Beauchef
{%endblock%}
{%block content%}
<nav id="nav-id" class="nav">
    <ul>
        <li id="publicar"><a href="#">Publicar</a></li>
        <li id="registrar"><a href="#">Registrate</a></li>
        <li id="perfil"><a href="#">Ver Perfil</a></li>
    </ul>
</nav>
<p>En este sitio podrás encontrar clases de apoyo para tus ramos de Beauchef</p>

<div class="content">
    <div class="afiches">
        <tr>
            <td class="afiche" id="azul"></td>
            <td class="afiche" id="rojo"></td>

        </tr>
        <tr>
            <td class="afiche" id="verde"></td>
            <td class="afiche" id="amarillo"></td>
    </div>
    <form class="filtrador">
        <input id="buscador" class="filtro" type="text" name="search" placeholder="Preferencias">
        <button id="lupa" type="submit">Buscar</button>
        <div id="precio" class="filtro">
            <p class="precio">Filtrador de precio</p>
            <input id="min" class="precio" type="number" name="min" placeholder="Precio Minimo">
            <input id="max" class="precio" type="number" name="max" placeholder="Precio Maximo">
        </div>
        <div id="modalidad" class="filtro">
            <p class="filtro">Modalidad</p>
            <select id="modalidad" class="filtro" name="modalidad">
                <option value="---">---</option>
                <option value="presencial">Presencial</option>
                <option value="online">Online</option>
            </select>
        </div>
        <div id="dias" class="filtro">
            <p class="disponivilidad">Disponivilidad</p>
            <select id="dias" class="filtro" name="dias" multiple>
                <option value="todos">Todos</option>
                <option value="lunes">Lunes</option>
                <option value="martes">Martes</option>
                <option value="miercoles">Miercoles</option>
                <option value="jueves">Jueves</option>
                <option value="viernes">Viernes</option>
                <option value="sabado">Sabado</option>
                <option value="domingo">Domingo</option>
            </select>
        </div>
        <button id="filtrar" type="submit">Aplicar filtros</button>
    </form>
</div>

{%endblock%}