{%extends 'base.html'%}

{% load static %}
{%block title%}
Iniciar sesión
{%endblock%}
{%block stylesheets%}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{%endblock%}
{%block content%}
<div class="main-container">

    <div class="page_title">
        <h2> Login </h2>
    </div>

    <div class="login_form_class">
        <form name="login_form" id="login_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="val-box" hidden>
                <h2 id="val-msg"></h2>
                <ul id="val-list"></ul>
            </div>
            <div class="input">
                {{ login_form.as_p }}
            </div>
            <div class="button-container">
                <button id="login_button" type="submit"> Iniciar sesión </button>
                <button type="button" class="NotAccount" id="NotAccount" onclick="redirect('/register')"> No tengo
                    cuenta </button> <br>
                <button type="button" class="backToIndex" id="backToIndex" onclick="redirect('/')"> Volver </button>
                <br>
                <button type="button" class="resetPassword" id="resetPassword"
                    onclick="redirect('/restablecer_contraseña')"> restablecer contraseña
                </button> <br>
            </div>

        </form>
    </div>
</div>
<!-- Cuadro de confirmación -->
{%endblock%}

{% block javascript %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}