{%extends 'base_navbar.html'%}
{% load static %}
{%block stylesheets%}
<link rel="stylesheet" type="text/css" href="{% static 'css/mostrar_afiche.css' %}">
{%endblock%}
{%block title%}
Mostrar Afiche
{%endblock%}
{%block content%}
<div class="container-page">
    <div class="container-main-information">
        <div clas="poster-information">
            <h1 class="title">{{titulo}}</h1>
            <h2 class="tutor-name">{{ tutor }}</h2>
        </div>
        <div class="contact-information">
            <h2><b>¿Te interesa?</b></h2>
            {% if user.is_authenticated %}
            <h2>Escríbeme al {{ telefono }} o notifícame al correo</h2>
            <form method="post">
                {% csrf_token %}
                <button type="submit"> Notificar </button>
            </form>

            {% else %}
            <h2>Escríbeme al {{ telefono }}</h2>
            {% endif %}
        </div>
    </div>
    <div class="container-poster">
        <img class="poster" src={{ imagen }}>
    </div>
    <div class="container-information">
        <h4 class="description"><b>Descripción:</b> {{descripcion}}</h4>
        <h4 class="phone"><b>Teléfono de Contacto:</b> {{ telefono }}</h4>
        <h4 class="price"><b>Precio:</b> {{ precio }}</h4>
        <h4 class="classType"><b>Modalidad:</b> {{ modalidad }}</h4>
        <h4 class="availability"><b>Disponibilidad:</b> {{ disponibilidad }} </h4>
    </div>

</div>
{%endblock%}