{%extends 'base.html'%}
{%block stylesheets%}
    <link rel="stylesheet"  type="text/css" href="static/css/nueva_contraseña.css">
{%endblock%}
{%block title%}
    Nueva contraseña
{%endblock%}
{%block content%}
    <div class="main-container">
        <h1>Restablecer Contraseña</h1>
        <p>Por favor, escribe tu nueva contraseña</p>

        <div class="LoginNewPassword_form_class">
            <form name="LoginNewPassword_form" id="LoginNewPassword_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
                <div class="button-container">
                    <button id="LoginNewPassword_button" type="submit"> Actualizar Contraseña </button>
                </div>
            </form>
        </div>
    </div>
    
    

{%endblock%}