{%extends 'base_navbar.html'%}
{%block stylesheets%}
<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
{%endblock%}
{%block title%}
Perfil
{%endblock%}

{%block content%}
<div class="profile-content">
    <div class="user-tittle">
        <h1 class="user-profile">Perfil de {{user.name}}</h1>
        {%if user.username == requesting_user.username%}
            <button id="conf" class="conf-button" onclick="location.href = 'http://127.0.0.1:8000/profile/edit/'">Configurar
                perfil</button>
        {%endif%}
    </div>

    <div class="user-info">
        <ul>
            <li id="nombre">Nombre: {{user.name}}</li>
            <li id="username">Nombre de usuario: {{user.username}}</li>
            <li id="email">Email: {{user.email}}</li>
        </ul>
    </div>

    {%if afiches is not None%}

    <div class="rating-content">
        <h3 class="afiches"> Rating</h3>
        <div class="rating">
            <span class="star empty"></span>
            <span class="star empty"></span>
            <span class="star empty"></span>
            <span class="star empty"></span>
            <span class="star empty"></span>
        </div>
    </div>

    <h2 class="afiches"> Afiches </h2>
    <div class="afiches">
        {%for poster in afiches%}
        <article>
            <div class="container-titulo">
                <h2>{{poster.nombre}}</h2>
            </div>
            <div class="container-afiche">
                <img src="{{poster.url.url}}" alt="{{afiche.nombre}}">
            </div>
        </article>
        {%endfor%}
    </div>
    {%endif%}


</div>


{%endblock%}