<!-- publicar.html -->
{% extends 'base_navbar.html' %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/publicar.css' %}">
{% endblock %}

{% block title %}
Publicar
{% endblock %}

{% block content %}
<div class="container-form">
    <form name="publish_form" id="publish_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div id="val-box" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
        </div>

        <div class="input">  
            <h2 class="title"> Publicar </h2>
            
            {{ afiche_form.as_p }}
            {{ publish_form.as_p }}
        </div>
        <div class="buttons">
            <button id="publish_button" type="submit"> Publicar </button>
            <button type="button" onclick="location.href = 'http://127.0.0.1:8000/'" class="backToIndex"> Volver </button>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/publish.js' %}"> </script>
{% endblock %}
