{%extends 'base.html'%}
{%block title%}
Publicar
{%endblock%}
{%block content%}
<div class="container-form">
    <form name="publish_form" id="publish_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="title"> Publicar </h2>
        <div class="poster_input">
            <label for="my_poster"> Sube tu afiche: </label>
            <input type="file" id="my_poster" name="my_poster" accept="image/*,.pdf,.png">
        </div>
        <div class="name_input">
            <label for="name"> Escribe el nombre de tu afiche: </label>
            <input type="text" id="name" name="name"> <br>
        </div>
        <div class="description_input">
            <label for="description"> Escribe una descripción: </label>
            <input type="text" id="description" name="description"> <br>
        </div>
        
        <label for="courses"> Escoge el curso: </label>
        <select name="courses" id="courses">
            <option value="Ninguno"> --- </option>
            {%for course in courses%}
            <option value="{{course.codigo_curso}}"> {{course.nombre}} </option>
            {%endfor%}
        </select> <br>

        <label for="price"> Precio estimado: </label>
        <input type="number" id="price" name="price" placeholder="14000"> <br>
        <label for="modality"> Modalidad: </label>
        <select name="modality" id="modality">
            <option value="Ninguna"> --- </option>
            <option value="pres"> Presencial </option>
            <option value="rem"> Online </option>
        </select> <br>
        <label for="phone"> Teléfono de contacto:</label>
        <input type="number" id="phone" name="phone" placeholder="987654321" > <br>
        <label for="disponibility"> Disponibilidad: </label>
        <select name="disponibility" id="disponibility">
            <option value="Ninguna"> --- </option>
            <option value="LUN"> Lunes </option>
            <option value="MAR"> Martes </option>
            <option value="MIE"> Miércoles </option>
            <option value="JUE"> Jueves </option>
            <option value="VIE"> Viernes </option>
            <option value="SAB"> Sábado </option>
            <option value="DOM"> Domingo </option>
        </select> <br>
        <label for="time-init"> Hora inicio: </label>
        <input type="time-init" id="time-init" name="time-init" placeholder="HH:MM"> <br>
        <label for="time-end"> Hora fin: </label>
        <input type="time-end" id="time-end" name="time-end" placeholder="HH:MM"> <br>
        <div class="publish_button">
            <button id="publish_button" type="submit"> Publicar </button>
        </div>
        
    </form>
    
    <button type="button" onclick="location.href = 'http://127.0.0.1:8000/'" class="backToIndex"> Volver </button>
    <!--<div id="popup-box" hidden>
        <h2 id="popup-msg"></h2>
        <button id="b1"> Sí, confirmo </button>
        <button id="b2"> No, quiero volver al formulario </button>
    </div>-->
</div>
{%endblock%}