{%extends 'base.html'%}
{%block title%}
Regístrate
{%endblock%}
{%block stylesheets%}
<link rel="stylesheet"  type="text/css" href="/static/css/register.css">
{%endblock%}
{%block content%}
<div class="main-container">

    <div class="page_title">
        <h1>Registrate</h1>
    </div>

    <form name="register_form" method="post">
        {% csrf_token %}
        <div class="name_input">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required> <br>
        </div>
        <div class="username_input">
            <label for="username">Nombre de usuario</label>
            <input type="text" id="username" name="username" required> </br>
        </div>
        <div class="email_input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required> </br>
        </div>
        <div class="password_input">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required> </br>
        </div>
        <div class="password2_input">
            <label for="password2"> Confirma tu contraseña </label>
            <input type="password" id="password2" name="password2" required> </br>
        </div>
        <div class="register_button">
            <button type="submit" class="envioFormulario">Registrarse</button>
            <button type="button" onclick="location.href = 'http://127.0.0.1:8000/login'" class="HaveAccount"> Iniciar sesión </button>
            <button type="button" onclick="location.href = 'http://127.0.0.1:8000/'" class="backToIndex"> Volver </button>
        </div>
    </form>
    
</div>
{%endblock%}