{%extends 'base.html'%}

{% load static %}
{%block title%}
Regístrate
{%endblock%}
{%block stylesheets%}
<link rel="stylesheet" type="text/css" href="/static/css/register.css">
{%endblock%}
{%block content%}
<div class="main-container">

    <div class="page_title">
        <h1>Regístrate</h1>
    </div>

    <form name="register_form" id="register_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="val-box" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
        </div>
        <div class="input">
            {{ register_form.as_p }}
        </div>
        <div class="register_button">
            <button type="submit" class="envioFormulario" id="sendForm">Registrarse</button>
            <button type="button" onclick="redirect('/login')" class="HaveAccount"> Iniciar sesión </button>
            <button type="button" onclick="redirect('/')" class="backToIndex"> Volver </button>
        </div>
    </form>

    <!-- Cuadro de confirmación -->
    <div class="container-confirmation" id="confirmation-box" hidden>
        <h2>Confirmar registro</h2>
        <p>¿Está seguro de que desea enviar esta información?</p>
        <button id="confirm_button" type="submit" form="publish_form">Confirmar</button>
        <button id="cancel_button" type="button">Cancelar</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}