{%extends 'base.html'%}

{% load static %}
{%block title%}
Nueva contraseña
{%endblock%}
{%block content%}
<div class="main-container">
    <h1>Restablecer Contraseña</h1>
    {% if validlink %}
    <p>Por favor, escribe tu nueva contraseña</p>
    <div class="LoginNewPassword_form_class">

        <form name="LoginNewPassword_form" id="LoginNewPassword_form" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div id="val-box" hidden>
                <h2 id="val-msg"></h2>
                <ul id="val-list"></ul>
            </div>
            <div class="input">
            </div>

            <button id="LoginNewPassword_button" type="submit"> Actualizar Contraseña </button>
        </form>

        {% else %}
        <h4>Este enlace ya ha sido utilizado, vuelve a intentar restablecer contraseña</h4>
        {% endif %}
    </div>
</div>

{% block javascript %}
<script src="{% static 'js/password.js' %}"></script>
{% endblock %}

{%endblock%}