{%extends 'base.html'%}
{%block title%}
    Iniciar sesión
{%endblock%}
{%block content%}
    <div class = "main-container"> 

        <div class="page_title"> 
            <h2> Login </h2>
        </div>

        <div class = "login_form"> 
            <form name="login_form" id="login_form" method="post" enctype="multipart/form-data">
                <div class = "username_input"> 
                    <label for="username"> Nombre de Usuario: </label> 
                    <input type="text" id="username" name="username"> <br>
                </div>

                <div class = "password_input"> 
                    <label for="password_section"> Contraseña: </label> 
                    <input type="password" id="password_id" name="password_section"> <br>
                </div>
                
                <button id="submit-btn" type="button"> Iniciar sesión </button>
            </form>
        </div>  

    </div>
{%endblock%}